body{
	padding: 0;
	margin: 0;
}

#logo {
	height: 100px;
	width:auto;
}

nav{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 40px;
	padding:0;
	border-top: 3px solid black;
	border-bottom: 3px solid black;	
}

nav ul{
	display: flex;
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0;
}

nav ul li{
	padding-left: 20px;
	padding-right: 20px;
}

nav ul li a{
	text-decoration: none;
	font-size: 25px;
	color: #4fb480;
}

.parks {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
}

#park {
	display: flex;
	flex-direction: row;
	padding-bottom: 30px;
}

#park ul {
	list-style: none;
}

#name {
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 15px;
}

#description {
	font-size: 20px;
	
}

.info {
	padding-left: 30px;
	margin: 0;
	
}

#park img {
	height: 250px;
	width: auto;
}

.weather{
	display: flex;	
	list-style: none;
	margin: 0;
	padding-bottom: 30px;
	padding-top: 30px;
	padding-left: 0;
	padding-right: 0;
	

}

ul{
	list-style: none;
}

#today{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 150px;
}
#otherDays{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#otherDays img{
	height: 175px;
	width: auto;
	
}

#highLow{
	display: flex;
	padding-bottom: 20px;
	
}

#highLow li{
	padding-left: 10px;
	padding-right: 10px;
}

#advisory{
	width: 200px;
	text-align: center;
}

#dayTitle{
	font-weight: bold;
	font-size: 20px;
	z-index: +1;
	position: relative;
}

#today img{
	margin-top: -15px;
}

.parkDisplay {
	padding: 30px;
	margin: 0;
	
}
.parkDisplay img{
	width: 100%;
	height: 75vh;
}

#parkName{
	font-weight: bold;
	font-size: 24px;
}

.parkDisplay li{
	padding-bottom: 15px;
}

#surveyBody{
	display: flex;
	flex-direction: column;
	
}

form{
	display: flex;
	flex-direction: column;
}

.formBody{
	padding-bottom: 30px;
}

